# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.exe
*.pdb
*.manifest
*.resources
*.Cache
Tibia Low Framerate/obj/x86/Release/TLF.csproj.FileListAbsolute.txt
Tibia Low Framerate/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
Tibia Low Framerate/Resources/icon.png.backup
Tibia Low Framerate/Resources/Read FPS.lua
TLF.suo